{% load static %}

<!-- Recent Articles Start -->
<div class="recent-articles">
    <div class="container">
        <div class="recent-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Recent Articles</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for recent_post in recent_posts|slice:":3" %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent mb-30">

                        <div class="what-img">
                            {% if recent_post.image %}
                            <img src="{{ recent_post.image.url }}" height="260" width="100%"
                                alt="{{ recent_post.title }}">
                            {% endif %}
                        </div>

                        <div class="what-cap">
                            <span class="color1">
                                {{ recent_post.category.name }}
                            </span>

                            <h4>
                                <a href="{% url 'detail' recent_post.id %}">
                                    {{ recent_post.title|truncatechars:50 }}
                                </a>
                            </h4>
                        </div>

                    </div>
                </div>
                {% empty %}
                <div class="col-12">
                    <p>No recent articles found.</p>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<!-- Recent Articles End -->