{% load static %}
<div class="blog-author">
    <div class="media align-items-center">
        {% if post.author.userprofile.profile %}
        <img src="{{ post.author.userprofile.profile.url }}" alt="">
        {% else %}
        <img src="{% static 'kurax/assets/img/blog/author.png' %}" alt="">
        {% endif %}
        <div class="media-body">
            <a href="#">
                <h4>{{ post.author.get_full_name|default:post.author.username }}</h4>
            </a>
            <p>{{ post.author.userprofile.bio|truncatechars:200|default:'Author at AZ News' }}</p>
        </div>
    </div>
</div>