{% for post in posts|slice:3 %}
<article class="blog_item">
    <div class="blog_item_img">
        <img class="card-img rounded-0" src="{{ post.image.url }}" alt="{{ post.title }}">
        <a href="{% url 'detail' post.id  %}" class="blog_item_date">
            <h3>{{ post.published_at|date:'j' }}</h3>
            <p>{{ post.published_at|date:'M' }}</p>
        </a>
    </div>

    <div class="blog_details">
        <a class="d-inline-block" href="{% url 'detail' post.id  %}">
            <h2>{{ post.title|truncatechars:80 }}</h2>
        </a>
        <p>{{ post.content|truncatechars:80 }}</p>
        <ul class="blog-info-link">
            <li>
                <i class="fa fa-user"></i>
                {% for tag in post.tags.all %}
                <a href="#">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                No tags
                {% endfor %}
            <li>
                <a href="#"><i class="fa fa-eye"></i> {{ post.view_count }}</a>
            </li>
            </li>
            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
        </ul>
    </div>
</article>
{% empty %}
<p>No posts available.</p>
{% endfor %}