{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="shortcut icon" type="image/x-icon" type="image/x-icon"
        href="{% static 'kurax/assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'kurax/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/ticker-style.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'kurax/assets/css/style.css' %}">
</head>

<body>

    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {% include 'kurax/header.html' %}
    {% block content %}


    {% endblock %}
    {% include 'kurax/footer.html' %}
    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'kurax/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'kurax/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'kurax/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'kurax/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/slick.min.js' %}"></script>
    <!-- Date Picker -->
    <script src="{% static 'kurax/assets/js/gijgo.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'kurax/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'kurax/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Breaking New Pluging -->
    <script src="{% static 'kurax/assets/js/jquery.ticker.js' %}"></script>
    <script src="{% static 'kurax/assets/js/site.js' %}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'kurax/assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/jquery.sticky.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'kurax/assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'kurax/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'kurax/assets/js/mail-script.js' %}"></script>
    <script src="{% static 'kurax/assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'kurax/assets/js/plugins.js' %}"></script>
    <script src="{% static 'kurax/assets/js/main.js' %}"></script>
    <script>
        $(".pagination_number").click(function (e) {
            e.preventDefault()
            let current_url = window.location.href.split('?')[0]
            let params = new URL(document.location).searchParams
            let query = params.get('query')
            let href = $(this).attr('href')
            let new_url = `${current_url}${href}&query=${query}`
            window.location.replace(new_url)
        })
    </script>

</body>

</html>